<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <div>
        <main class="home-main main-padding" style="padding-top: 50px;">
            <div>
                <a class="home-login-btn" href="/login">Log in</a>
            </div>
            <div class="margin-top padding-top">
                <div>
                    <h1 class="logo no-margin">Tt</h1>
                    <p class="no-margin" style="font-size: 1.5em;">TAP TRACK</p>
                </div>
                <h2>Convenient and simple timekeeping <br>for your work-from-home setup</h2>
                <p class="no-margin" style="font-size: 1.2em;">A no-frills, streamlined solution to timekeeping for businesses that have had to 
                    shift to <br>WFH systems and schedules. Designed to be used by anyone. <br> With a simple, sleek interface
                    purposelly designed to be instantly usable.
                </p>
                <div class="home-login-btn2" >
                    <a href="/login">Log in</a>
                </div>
            </div>
            <div class="home-div-2 padding flex">
                <img class="shadow" src="images/app-sample.png" alt="screenshot of tap track app">
                <p style="font-size: 1.2em;">Tap Track uses an intuitive interface and a simplistic <br>
                    design to focus on its main features. The application is easy to use and <br>
                    onboarding will be quick and painless</p>
            </div>
            <div>
                <h2 class="center-align">Created by Olea Yaona | 2021</h2>
            </div>
        </main>
    </div>
     <!-- Footer -->
     <%- include('./partials/footer.ejs') %>
     <!-- End of footer -->
    <script src="/reload/reload.js"></script>
</body>
</html>